canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myCanvas {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mudarPalavraPasse:hover{
    text-decoration: underline;
    color: #007bff;
}